<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Complain has been placed</title>
</head>
<body>
    Complain has been placed for order {{ complain.order.id }} with message {{ complain.complain }}
</body>
</html>
